.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.formulario input, .formulario select {
    padding: 5px;
    outline: none;
    border: 1px solid #ddd;
    margin: 5px 0px 10px 0px;
}

